@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 20px;
    --color-title: #2a4ce1;
}

body {
    font-family: 'Arial', sans-serif; 
}
/* Hero container */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    color: #ebe5e5;
    padding: var(--padding-container);
}

.hero__container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    text-align: center;
    gap: 1.5em;
    padding: 0 20px;
}

.hero__title {
    font-size: clamp(3rem, 4vw, 1.3rem);
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

}

.hero__paragraph {
    font-size: clamp(1rem, 4vw, 1.3rem);
    font-family: Georgia, serif;
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* MEDIA QUERIES */

/* Teléfonos muy pequeños (smartphones) */
@media (min-width: 300px) and (max-width: 480px) {
    .hero__container {
        height: auto;
        padding: 150px 70px;

    }

    .hero__title {
        font-size: clamp(1.8rem, 6vw, 2.2rem);

    }

    .hero__paragraph {
        font-size: clamp(1rem, 4vw, 1.3rem);
        line-height: 1.5;
    }
}

/* Smartphones grandes y tablets en vertical */
@media (min-width: 481px) and (max-width: 768px) {
    .hero__container {
        padding: 150px 70px;

    }

    .hero__title {
        font-size: clamp(2rem, 5vw, 2.5rem);
    }

    .hero__paragraph {
        font-size: clamp(1.2rem, 4vw, 1.5rem);
        line-height: 1.6;
    }
}

/* Tablets horizontales y laptops pequeños */
@media (min-width: 769px) and (max-width: 1024px) {
    .hero__container {
        padding: 200px 50px;
    }

    .hero__title {
        font-size: clamp(2.5rem, 4vw, 3rem);
    }

    .hero__paragraph {
        font-size: clamp(1.3rem, 3vw, 1.6rem);
    }
}



.hero-inicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%; /* Cubre toda la sección */
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), 
        url('../images/leer-la-biblia.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}


/* Estilo general de la nueva sección de los nuevos artículos  */
.trending-section {
    padding: 20px;
    background-color: #e58f1f72;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    font-size: 1.5rem;
    color: #333;
}

.view-all {
    font-size: 1rem;
    color: #0a4789;
    text-decoration: none;
}

.view-all:hover {
    text-decoration: underline;
}

/* Estilos del carrusel */
.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.video-list {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    width: max-content;
}

.video-card {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    flex: 0 0 auto;
}

.video-card:hover {
    transform: scale(1.03);
}

.thumbnail {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-card h3 {
    font-size: 1rem;
    margin: 10px;
    line-height: 1.3;
}

.video-card h3 a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.video-card h3 a:hover {
    color: #d5a729;
}

.video-card p {
    font-size: 0.9rem;
    margin: 0 10px 10px;
    color: #777;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .header h2 {
        font-size: 1.2rem;
    }

    .video-card {
        width: 250px;
    }

    .thumbnail {
        height: 150px;
    }
}
/* Estilos generales para Misión y Visión */
.mision-vision {
    background-image: url('../images/dark-orange-background-pfgagbuul0zszm09.jpg'); /* Fondo suave */
    padding: 60px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.cuadro {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 30px 20px;
    flex: 1 1 calc(45% - 20px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cuadro:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.cuadro h2 {
    font-size: 2em;
    color: #8a6e10e3;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.cuadro p {
    font-size: 1.1em;
    color: #555555;
    line-height: 1.8;
    margin-top: 10px;
}

.icono img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

/* Adaptación para dispositivos móviles */
@media screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }

    .cuadro {
        flex: 1 1 100%;
    }
}
/* Adaptación para dispositivos móviles */
@media screen and (max-width: 768px) {
    .cuadro {
        width: 100%; /* Ocupa todo el ancho del contenedor */
    }
}

.hero-feyciencia::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), 
        url('../images/Faith-and-science_Web.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#topics-section1 {
    padding: 30px 20px;
    background-image:  url('../images/dark-blue-paint-strokes-1rsfpmx7gtht9j79.jpg');
  }
#topics-section2 {
    padding: 30px 20px;
    background-image:  url('../images/fondo-de-oro-liso-xltjzlz7df80i9ai.jpg');
  }
  #topics-section3 {
    padding: 30px 20px;
    background-image:  url('../images/photo-1614851099511-773084f6911d.jpeg');
  }

  #topics-section4 {
    padding: 30px 20px;
    background-image:  url('../images/dark-brown-1920-x-1080-wallpaper-o09fe1n5e4bqkctc.jpg');
  }
  .topics__title {
    text-align: center;
    font-size: 3rem;
    color: #f8e513;
    margin-bottom: 50px;
  }

  .topics__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .topic-card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #fff;
  }

  .topic-card a {
    text-decoration: none;
    color: inherit;
  }

  .topic-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }

  .topic-card__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
  }

  .topic-card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
  }

  .topic-card__title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }

  @media (max-width: 1024px) {
    .topics__grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .topic-card__title {
      font-size: 1.3rem;
    }
  }

  @media (max-width: 768px) {
    .topics__title {
      font-size: 2.5rem;
    }

    .topics__grid {
      grid-template-columns: 1fr;
    }
  }

.hero-dino::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), 
        url('../images/los-sauropodos-eran-los-dinosaurios-mas-longevos-se-estima-que-podian-vivir-de-50-a-100-anos_01191acc_230106131643_1280x800.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}
@media (max-width: 768px) {
   
    .hero-dino::before {
        height: 60%; /* Asegura que la imagen se mantenga bien */
    }
}
.hero-dino1::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), 
        url('../images/los-sauropodos-eran-los-dinosaurios-mas-longevos-se-estima-que-podian-vivir-de-50-a-100-anos_01191acc_230106131643_1280x800.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.hero-creacion::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), 
        url('..//images/criacionismo.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

@media (max-width: 768px) {
   
    .hero-creacion::before {
        height: 60%; /* Asegura que la imagen se mantenga bien */
    }
}
.hero-diluvio::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), 
        url('..//images/diluvio.webp');
    background-size: cover;
    background-position: center;
    z-index: -1;
}
@media (max-width: 768px) {
   
    .hero-diluvio::before {
        height: 60%; /* Asegura que la imagen se mantenga bien */
    }
}
#articles-section1 {
    position: relative;
    padding: 2em 1em;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #000000;
    background-image: url('..//images/wallpaper2you_11149copia.jpg'); /* Ruta de la imagen */

}
#articles-section2 {
    position: relative;
    padding: 2em 1em;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #000000;
    background-image: url('..//images/diluvio.webp'); /* Ruta de la imagen */

}
#articles-section3 {
    position: relative;
    padding: 2em 1em;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #000000;
    background-image: url('..//images/c-1000-designbundle-green-prehistoric-jungle07-02-08-944e9863afe63c03434ed9bac755262fde4050803d98e27e429053c844ad1f1a.jpg'); /* Ruta de la imagen */

}
.articles__title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #d3c226;
    margin-bottom: 30px;
}

.articles__description {
    font-size: 1.2rem;
    color: #e1e2e4;
    margin-bottom: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.articles__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); /* Diseño responsivo */
    gap: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card__content {
    padding: 1em;
}

.card__title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.card__description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1em;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: #999;
}

.card__tag {
    background: #007bff;
    color: #fff;
    padding: 0.2em 0.5em;
    border-radius: 4px;
    font-size: 0.8rem;
}

  /* Responsividad */
  @media (max-width: 992px) {
    .articles__container {
      grid-template-columns: repeat(2, 1fr); /* 2 tarjetas por fila */
    }
  }
  
  @media (max-width: 600px) {
    .articles__container {
      grid-template-columns: 1fr; /* 1 tarjeta por fila */
    }
  }
  
.hero-profecias::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), 
        url('..//images/2022480_univ_lsr_lg.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

 /* Media Queries para hacerlo más responsive */
@media (max-width: 768px) {
   
    .hero-profecias::before {
        height: 59%; /* Asegura que la imagen se mantenga bien */
    }
}
.hero-daniel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), 
        url('..//images/maxresdefault\ \(3\).jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.hero-apocalipsis::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), 
        url('..//images/Revelation_Series_1294x628.webp');
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.hero-apologetica::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), 
        url('..//images/The-Benefits-of-Engaging-in-Great-Bible-Study-Lessons.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}
/* Media Queries para hacerlo más responsive */
@media (max-width: 768px) {
   
    .hero-apologetica::before {
        height: 60%; /* Asegura que la imagen se mantenga bien */
    }
}
.hero-santuario::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), 
        url('..//images/Sanctuary-cleansed.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}
/* Media Queries para hacerlo más responsive */
@media (max-width: 768px) {
   
    .hero-santuario::before {
        height: 60%; /* Asegura que la imagen se mantenga bien */
    }
}
.hero-recursos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), 
        url('..//images/biblia-fisica-telefono.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}
/* Media Queries para hacerlo más responsive */
@media (max-width: 768px) {
   
    .hero-recursos::before {
        height: 60%; /* Asegura que la imagen se mantenga bien */
    }
}
.hero-jus::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), 
        url('..//images/1888-conference.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}


/* PANEL*/

/* Contenedor del menú */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

/* Logo y título */
.nav__logo {
    display: flex;
    align-items: center;

}

.nav__logo-img {
    width: 300px; /* Ajusta el tamaño del logo */
    margin-right: 10px;
}

.nav__title {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Estilos del menú */
.nav__link {
    display: flex;
    gap: 20px;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav__links:hover {
    color: #d19a22; /* Color dorado al pasar el mouse */
}

/* Íconos del menú en versión móvil */
.nav__menu {
    display: none;
}

.nav__img {
    width: 30px;
}

/* Responsive */
@media (min-width: 768px) {
    .nav__close {
        display: none;
    }
}

/* Estilos generales de los articulos */

.article-container {
    max-width: 900px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(228, 228, 228);
    padding: 20px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

.section {
    margin-bottom: 20px;
}

/* Estilos de subtítulos y párrafos */
.subtitle-art {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 15px;
}

.about__paragraphart {
    line-height: 1.7;
    margin-top: 2%;
    color: #504f4f;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Ajuste general de imágenes */
.image-container {
    text-align: center;
    margin: 5px 12px;
    display: block;
}

.article-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-caption {
    font-style: italic;
    color: #555;
    margin-top: 5px;
    font-size: 0.9rem;
}

/* Ajuste de imágenes flotantes */
.float-left {
    float: left;
    margin: 0 15px 10px 0;
    max-width: 40%;
}

.float-right {
    float: right;
    margin: 0 0 10px 15px;
    max-width: 40%;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .float-left, .float-right {
        float: none;
        display: block;
        margin: 10px auto;
        max-width: 100%;
    }

    .article-container {
        padding: 15px;
    }

    .subtitle-art {
        font-size: 1.3rem;
        padding-left: 0;
    }

    .about__paragraphart {
        font-size: 1rem;
    }
}

/* Corregir alineación flotante */
.section::after {
    content: "";
    display: table;
    clear: both;
}

/* Estilos para citas */
.quote-section {
    background: #f1f1f1;
    padding: 20px;
    border-left: 5px solid #0073e6;
    margin: 20px 0;
    font-style: italic;
    color: #444;
}

.quote-section blockquote {
    margin: 0;
    font-size: 1.1rem;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

/* Estilos para el autor del artículo */
.article-author {
    margin-top: 30px;
    padding: 15px;
    background: #e8e8e8;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: #333;
}




/* About */

.about {
    text-align: center;
    margin: 0 auto; /* Centra la sección si tiene un ancho fijo */
    padding: 40px 20px; /* Reduce el espacio interno superior e inferior */
}

.subtitle {
    color: #90900af5; /* Color del subtítulo */
    font-size: 2rem; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Convertir a mayúsculas */
    margin-bottom: 10px; /* Espacio inferior */
}

.about__paragraph {
    color: #333; /* Color del texto */
    font-size: 1.2rem; /* Tamaño de la fuente */
    line-height: 1.8; /* Espaciado entre líneas */
    text-align: justify; /* Justificar texto */
}


.about__main {
    padding-top: 20px; /* Reduce el espacio superior entre los iconos y el título */
    display: grid;
    width: 80%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon {
    width: 220px;  
}












/* Footer */

footer {
    background-color: rgba(15, 44, 90, 0.897);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer__title {
    font-weight: 50; /* Cambia a un peso de fuente más grueso */
    font-size: 2rem; /* Aumenta el tamaño de la fuente */
    margin-bottom: 40px;
    color: #ffffff; /* Cambia el color a dorado */
    font-family: 'Playfair Display', serif;
    /* Cambia la fuente */
    text-shadow: 2px 2px 4px rgba(16, 16, 16, 0.5); /* Añade sombra al texto */

}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #151515;
    padding-bottom: 60px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    
}


.footer__inputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap; /* Ajusta los inputs en pantallas pequeñas */
}

.footer__image-container {
    text-align: center; /* Centra la imagen */
    margin-top: 40px; /* Espacio arriba de la imagen */
}

.footer__image {
    width: 350px; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 20px; /* Opcional: bordes redondeados */
}


.footer__copy {
    text-align: center;
    color: #ffffff;
    padding: 30px 0;
}

.footer__copyright {
    font-weight: 300;
    margin-top: 10px;
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los íconos */
    margin-bottom: 20px;
}

.footer__img {
    width: 30px;
    transition: transform 0.3s ease; /* Efecto de hover */
}

.footer__img:hover {
    transform: scale(1.2); /* Efecto de hover */
}

/* Media Queries para Responsive Design */
@media (max-width: 768px) {
    .footer__container {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        text-align: center;
    }

    .footer__inputs {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    }

    .footer__input {
        margin-right: 0;
        margin-bottom: 10px; /* Espacio entre el input y el botón */
    }

    .footer__submit {
        width: 100%; /* Botón ocupa todo el ancho */
    }

    .footer__social {
        flex-wrap: wrap; /* Ajusta los íconos en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .footer__title {
        font-size: 0.1rem; /* Tamaño de fuente más pequeño para móviles */

    }

    .footer__input {
        min-width: 100%; /* Input ocupa todo el ancho */
    }
}
/* Media queries */

@media (max-width:800px){
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: #020202;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    } 
    .about__main{
        gap: 2em;
    }
   .about__paragraph {
    font-size: 1.2rem; /* Tamaño de la fuente */
    margin-top: 10%;
    }
    .about__icons:last-of-type{
        grid-column: 1/-1;
    }
    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony__img{
        width: 200px;
        height: 200px;
        
    }

    .questions__copy{
        width: 100%;
    }


    .hero__paragraph{
        font-size: 1rem;
        text-align: center;
        margin-top: 3px; /* Ajusta este valor para que el párrafo suba */

    }

    .subtitle{
        font-size: 1.7rem;
    }

    .price__element{
        width: 90%;
    }

    .price__element--best{
        width: 40%;
        /* padding: 40px; */
    }

    .price__price{
        font-size: 2rem;
    }

    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: 100%;
    }

    .testimony__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
        

        /* 
        margin:0;
        width: 100%;
        */
    }
}
